body {
    font-family: "Lato", sans-serif;
}


.main-head{
    height: 150px;
    background: #FFF;
   
}

#main-registro{
    padding-top: 20px;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

#titulo{
    text-align: center;
}

#pagId{
    text-align: center;
}

#pagLink{
    text-decoration: none;
    color:#FFF;
}

#borrar{
    font-size: 10px;
}

#cargar{
    font-size: 10px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 40%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-success{
    background-color: #000 !important;
    color: #fff;
    margin-top: 5%;
    border: #000;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    margin-top: 5%;
    border: #000;
}

.btn-primary{
    background-color: #000 !important;
    color: #FFF;
    margin-top: 5%;
    border: #000;
}

.btn-secondary{
    background-color: #000 !important;
    color:#FFF;
    border: #000;
}

.btn-outline-primary{
    background-color: #000 !important;
    color:#FFF;
    margin-top: 5%;
    border: #000;
}

.imguser{
    margin-bottom: 5%;
}